<!DOCTYPE html>
<html>
  <head>
    <title>Desktop Version</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="lpdata/styles.css" type="text/css" rel="stylesheet"/>
    <link href="lpfiles/desktop_version/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="lpdata/document.js"></script>
    <script src="lpfiles/desktop_version/lpdata.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/lpimages/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>

    <!-- Navbar header -->
    <nav class="navbar navbar-expand-lg navbar-light text-white" style="background-color: #8a100b;">
          <a href="#" class="navbar-brand">
              <img src="lpimages/desktop_version/u2.png" style="width: 60px;">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between text-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link text-white dropdown-toggle" href="#" id="buyerdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    BUYER SERVICES
                  </a>
                  <div class="dropdown-menu" aria-labelledby="buyerdropdown">
                    <a class="dropdown-item" href="#">VIEW MARKETPLACE</a>
                    <a class="dropdown-item" href="#">ADVANCED SEARCH</a>
                    <a class="dropdown-item" href="#">WISHLIST</a>
                    <a class="dropdown-item" href="">PURCHASE HISTORY</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link text-white dropdown-toggle" href="#" id="admindropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SELLER SERVICES
                  </a>
                  <div class="dropdown-menu" aria-labelledby="admindropdown">
                    <a class="dropdown-item" href="#">VIEW CURRENT BOOKS</a>
                    <a class="dropdown-item" href="#">COMPARE PRICES</a>
                    <a class="dropdown-item" href="#">SALE HISTORY</a>
                  </div>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link text-white" href=""><i class="fa fa-shopping-cart"></i></a>
              </li>
              <li class="nav-item text-white dropdown">
                  <a class="nav-link text-white dropdown-toggle" href="#" id="profiledrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="profiledrop">
                    <a class="dropdown-item" href="#">ACCOUNT SETTINGS</a>
                    <a class="dropdown-item" href="messaging.html">MESSAGES</a>
                    <a class="dropdown-item" href="#">WISHLIST</a>
                    <a class="dropdown-item" href="#">SIGN OUT</a>
                  </div>
              </li>
            </ul>
          </div>
      </nav>

    <div id="base" class="">

      <!-- textured white background left side  -->
      <div id="u0" class="ax_default image">
        <img id="u0_img" class="img " src="lpimages/desktop_version/u0.png"/>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- gold background white side -->
      <div id="u1" class="ax_default box_2">
        <div id="u1_div" class=""></div>
        <div id="u1_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- big bb logo -->
      <div id="u2" class="ax_default image">
        <img id="u2_img" class="img " src="lpimages/desktop_version/u2.png"/>
        <div id="u2_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Book Bargains text left side -->
      <div id="u3" class="ax_default heading_1">
        <div id="u3_div" class=""></div>
        <div id="u3_text" class="text ">
          <p><span>Book Bargains</span></p>
        </div>
      </div>

      <!-- info text left side -->
      <div id="u4" class="ax_default heading_2">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text ">
          <p><span>Join a community of college students</span></p><p><span>exchanging books at discounted prices</span></p>
        </div>
      </div>

      <!-- info text right side -->
      <div id="u5" class="ax_default heading_1">
        <div id="u5_div" class=""></div>
        <div id="u5_text" class="text ">
          <p><span style="font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;font-style:normal;">Welcome to the </span><span style="font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial', sans-serif;font-style:italic;">best</span><span style="font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;font-style:normal;"> university</span></p><p><span style="font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;font-style:normal;">book exchange community!</span></p>
        </div>
      </div>

      <!-- Log in button-->
      <a onclick href="login">
        <div id="u6" class="ax_default button">
          <div id="u6_div" class=""></div>
          <div id="u6_text" class="text ">
            <p><center>Log In</center></p>
          </div>
        </div>
      </a>

      <!-- Create account button-->
      <a onclick href="signup">
        <div id="u7" class="ax_default button">
          <div id="u7_div" class=""></div>
          <div id="u7_text" class="text ">
            <p><center>Create Account</center></p>
          </div>
        </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <div id="u8" class="ax_default heading_1">
        <div id="u8_div" class=""></div>
        <div id="u8_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- text -->
      <div id="u9" class="ax_default heading_2">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text ">
          <p><span>Are you…</span></p>
        </div>
      </div>

      <!-- buying button-->
      <a href="test.com">
        <div id="u10" class="ax_default primary_button">
            <div id="u10_div" class=""></div>
            <div id="u10_text" class="text ">
              <p><center>Buying</center></p>
            </div>
        </div>
      </a>

      <!-- selling button-->
      <a href="test.com">
        <div id="u11" class="ax_default primary_button">
          <div id="u11_div" class=""></div>
          <div id="u11_text" class="text ">
            <p><center>Selling</center></p>
          </div>
        </div>
      </a>

      <!-- info text right side -->
      <div id="u12" class="ax_default heading_3">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text ">
          <p><span>Get books at discounted prices</span></p>
        </div>
      </div>

      <!-- info text right side  -->
      <div id="u13" class="ax_default heading_3">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text ">
          <p><span>Sell unwanted books with ease</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
