@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-image: url('b2.jpg');
    background-size: cover;
    height: 100%;
}

/* #inside{
    background-image: url('b2.jpg');
    background-size: cover;
} */

.nav-link:hover{
    text-decoration:underline;
}

#inside .btn-outline-red{
    color: #ffffff;
    background-color: #8a100b;
}
#inside .btn-outline-red:hover{
    color: #8a100b;
    border-color: #8a100b;
    background-color: #ffffff;
}
